* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    background: #020617;
    color: #e5e7eb;
}

.sidebar {
    background-color: rgb(224, 224, 224);
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1f2937;
    box-shadow: 4px 0 20px rgba(0,0,0,0.35);
}

.sidebar-header {
    height: 60px;
}

.sidebar-main {
    flex: 1;
}

.sidebar-main ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-main ul li {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.sidebar-main ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    text-decoration: none;
    border-radius: 10px;
    transform: 1s;
}

.sidebar-main ul li a:hover {
    background-color: rgba(161, 161, 161, 0.564);
    box-shadow: 0 0 0 1px #1d4ed8;
}

.list-icon {
    margin: auto;
    font-size: 35px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-name {
    font-size: 20px;
    color: black;
    margin-left: 30px;
}

.sidebar-footer {
    height: 30px;
    margin-top: auto;
    border-top: 1px solid rgb(168, 168, 168);
}

.container {
    height: 100%;
    flex: 1;    /*親がdisplay:flexのとき、残りのスペース全部頂戴*/
    display: flex;  /*子要素をflexコンテナにする*/
    flex-direction: column; /*flexコンテナを縦並びにする*/
}

.header {
    background-color: rgb(224, 224, 224);
    height: 50px;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.header-title h2{
    
}

.main {
    flex: 1;
}
