* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100vh;
  /*overflow: hidden;*/ /*画面外の部分は部分は切り捨て*/
}

.display-flex {
  display: flex;
}

.byBytes {
  margin-bottom: 20px;
}

.chart-title {
  font-size: 18px;
  text-align: center;
}

.chart-wrapper-bar {
  height: 300px;
  width: 700px;
  margin-top: 10px;
}

.chart-wrapper-pie {
  height: 300px;
  width: 300px;
  margin: 10px;
}